<html>
	<head>
		<title>MATADO - ADIEU</title>
		<link rel="stylesheet" type="text/css" href="/matado.css"/>
	</head>
	<body>
		<table class="cont" border="1"><tr><td class="ctralign">
			<table class="cont">
				<tr>
					<td class="ctralign">
						<header>CHAU <%=@playerName%>!</header>
					</td>
				</tr>
			</table>
		</td></tr></table>
	</body>
</html>

